

.main-layout{
  width: 100%;
  min-height: 100vh;
  padding-left: var(--sidebar-width);
}

.outlet-wrap {
  padding-left: var(--sidebar-width); 
  background-color: var(--color-extreme);
  min-height: 100vh;
  min-width: 0;
  overflow-x: hidden;
}

.tooltip { position: relative; }
.tooltip:hover::after, .tooltip:focus::after {
  content: attr(data-tooltip);
  position: absolute; 
  left: 50%; 
  bottom: -60%;
  transform: translate(-50%, 3px);
  background: #111; 
  color: #fff; 
  padding: 4px 6px; 
  border-radius: 4px;
  white-space: nowrap; 
  font-size: 12px; 
  z-index: 10;
}

.tooltip.extraTooltipPadding:hover::after, .tooltip.extraTooltipPadding:focus::after{
  transform: translate(-50%, 8px);
}

.tooltip.lessTooltipPadding:hover::after, .tooltip.extraTooltipPadding:focus::after{
  transform: translate(-50%, -8px);
}

.monaco-editor{
    --vscode-focusBorder: var(--color-text-dark) !important;
}

.page{
   text-align: center;
   display: flex;
   justify-content: center;

   margin: 20px;
}

@media (max-width: 768px){
  .outlet-wrap{
    padding-left: 0;
    padding-top: var(--sidebar-height-mobile);
    min-height: 100vh;
  }
}