
.sidebar-wrap{
  min-height: 100vh;
  --sidebar-width: 6rem;
  --sidebar-color: var(--color-strong);
  --sidebar-element-hover-color: var(--color-medium);
}

.sidebar {
  width: var(--sidebar-width);
  min-height: 100%;
  background: var( --sidebar-color);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.sidebar li {
  margin-top: 8px;
  width: 100%;
}

.SidebarLink {
  color: var(--color-text);
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SidebarButton{
  color: var(--color-text);
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.sidebar .disabledLinkButton a{
  pointer-events: none;
  cursor: default;
}

.sidebar .disabledLinkButton svg{
  stroke: var(--color-text-muted);
}

.sidebar a:hover {
  background: var(--sidebar-element-hover-color);
}

.sidebar button:hover {
  background: var(--sidebar-element-hover-color);
}

.sidebar li.HiglistedLink {
  border-bottom: solid 5px var(--color-accent);
}
.icon{
  max-width: 50px;
  max-height: 50px;
}

