:root { --sidebar-width: 6rem; }

.sidebar-wrap{
  min-height: 100vh;
}

.sidebar {
  width: var(--sidebar-width);
  min-height: 100%;
  background: var(--color-primary-4);
  color: var(--color-bg);


  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.sidebar li {
  margin-top: 8px;
  width: 100%;
}

.sidebar a {
  color: var(--color-bg);
  text-decoration: none;
  height: 75px;
  /*padding: 10px 20px;*/
  display: block;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.sidebar a:hover {
  background: var(--color-primary-3);
}

.sidebar .icon{
  max-width: 50px;
  max-height: 50px;
}

