.ModalRoot{
position: fixed;
 inset: 0;
  z-index: 1000;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.ModalOverlay{
  position: absolute; 
  inset: 0;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(6px); 
}

.ModalWindow{
  position: relative; 
  z-index: 1001;
  width: 90vw;
  max-width: 640px;
  background: var(--color-strong); 
  border-radius: var(--border-radius-extreme);
  color: var(--color-text);
  padding: 20px;
  padding-bottom: 30px;
  box-shadow: var(--box-shadow-dark);
  font-size: 1.2rem;
}

.DefaultModalTextWrapper{
    font-family: var(--font-1)
}

.DefaultModalTextWrapper>h2{
  text-align: center;
}

.OverwriteTmModalTextWrapper h2{
  text-align: center;
}

.DefaultModalTextWrapper>p{
    text-align: center;
    font-size: 100%;
}

.DefaultModalButtonWrapper{
      display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4vh;
}

.DefaultModalButtonWrapper>button{
  font-family: var(--font-1);
  margin: 5px;
  margin-left: 10px;
}

.DeleteAccountConfirmOkButton{
  background-color: var(--color-red);
  color: white;
}





.DeleteTmModalTextWrapper{
    font-family: var(--font-1)
}

.DeleteTmModalTextWrapper p{
  text-align: center;
    font-size: 100%;
}

.DeleteTmModalTextWrapper h2{
   text-align: center;
}

.DeleteTmModalButtonsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4vh;
}

.DeleteTmModalDeleteButton{
    background-color: var(--color-red);
     color: var(--color-text);
     font-family: var(--font-1);
    margin-right: 20px;
}

.DeleteTmModalCancelButton{
  font-family: var(--font-1);
}

.ModalButton{
    outline: none;
    border: none;
    border-radius: 5px;
    width: 15%;
    cursor: pointer;
}

