.AccountPageWrapper{
    margin-top: 50px;
    
    --account-color-bg: var(--color-extreme);
    --account-color-subpage: var(--color-strong);
    --account-db-button-color: var(--color-strong);
    --account-db-button-border: solid 2px  var(--color-accent);
    --account-color-border: var(--color-weak);


    --tm-list-color-bg: var(--color-strong);


    --tm-details-color-text-field: var(--color-medium);
    --tm-details-color-description-bg : var(--color-extreme);

    font-family: var(--font-1);

}

.AccountPage{
    
    background-color: var(--account-color-page);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AccountPageSubpage{
    box-shadow: var(--box-shadow-dark);
    background-color: var(--account-color-subpage);
    border-radius: var(--border-radius-extreme);
}

.AccountPageDashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.AccountDashboardButton{
    
  color: var(--color-text);


  font: ui-monospace;
  background-color: transparent;
  cursor: pointer;
  
  border-radius: var(--border-radius-strong);

    height: 50%;
    width: 9%;
    min-width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;          
  line-height: 1;    
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid var(--account-color-border);
  border-bottom: 3px solid var(--account-color-border);
  background-color: var(--account-db-button-color);
  font-size: 100%;
  
}

.AccountDashboardButton.SelectedDashboardButton{
    font-weight: 600;
    border: var(--account-db-button-border);
    border-bottom: 3px solid var(--color-accent);
}

.AccountDashboardButton svg{
  width:20px;        
  height:20px;   
}

.AccountDashboardButton.LogoutButton{
    border: none;
    background-color: var(--color-red);
    color: white;
    width: 3%;
}

.SaveTuringMachineSubpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 350px;
}

.SaveTuringMachineForm{
    width: 50%;
    min-width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AccountInputFieldLabel{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.AccountInputField{
    height: 40px;
    width: 100%;
    background-color: var(--account-color-bg);
    border: 2px solid var(--account-color-border);
    border-radius: var(--border-radius-mild);
    padding: 10px;
    font-family: var(--font-1);
    color: var(--color-text);
    resize: none;
    
}

.AccountInputField:focus{
    border: none;
    outline: solid 3px var(--color-accent);
}

.TmDescriptionInput.AccountInputField{
    height: 80px;
}




.CreateTuringMachineTitle{
    color: var(--color-text);
    font-family: var(--font-1);
    text-align: center
}

.CreateTuringMachineError{
        color: var(--color-red);
    font-family: var(--font-1);
}

.AccountPageSaveFormButton{
    width: 40%;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    margin-top: 45px;
    margin-bottom: 15px;
    min-width: 100px;
    min-height: 40px;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-radius: var(--border-radius-strong);
    color: var(--color-text);
    border: 3px solid var(--color-accent);
    background-color: var(--color-extreme);
    font-family: var(--font-1);
}

.AccountPageSaveFormButton.DisabledButton{
    cursor: default;
    color: var(--color-text);
}

.AccountPageSaveFormButton svg{
 width:20px;        
  height:20px;   
}

.LoadTuringMachineSubpage{
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 400px;
}

.TmList{
    background-color: var(--tm-list-color-bg);
}

.TuringMachineRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    font-family: var(--font-1);
    color: var(--color-text);
    height: 60px;
   
}

.TmRowButton{
    margin: 3px;
    min-width: 10px;
    min-height: 10px;
    
    max-width: 40px;
    max-height: 40px;
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.TmRowButton svg{
    min-width: 10px;
    min-height: 10px;
}

.TmRowIcon{
    
    min-width: 10px;
    min-height: 10px;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;

    }

.TmRowButton:hover{
    cursor: pointer;
}

.TmRowButton.TmRowLoadButton{
     font-size: clamp(0.2rem, 1vw + 0.3rem, 1.0rem);
    background-color: transparent;
    color:  var(--color-text-dark);
    font-weight: bold;
    padding: 5px;
}

.TmRowButton.TmRowLoadButton:hover{
    background-color: var(--color-medium);

}

.TmRowButton.TmRowShowButton{
    background-color: transparent;
    color: var(--color-text-dark);
}

.TmRowButton.TmRowVisibilityWrapper{
    background-color: transparent;
    color: var(--color-text-dark);
}

.TmRowButton.TmRowDeleteButton{
    background-color: rgb(154, 60, 60);
    color: white;
}

.TmRowButtonWrapper{
    width: 5%;
        display: flex;
    align-items: center;
    justify-content: center;
}


.TmRowButtonWrapper.TmRowDeleteWrapper{
    aspect-ratio: 1 / 1;
    width: 5%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TmRowButtonWrapper.TmRowShowWrapper{
    width: 5%;
    height: 10%;
}

.TmRowTextWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.TmListDashboard{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
     border-bottom: 2px solid var(--account-color-border);
     
}

.TmRowTextField{
    text-align: center;
    font-size: clamp(0.2rem, 1vw + 0.3rem, 1.0rem);
}

.TmListButton{
    color: var(--color-text);
    background-color: transparent;
    border: none;
    font-size: clamp(0.2rem, 1vw + 0.3rem, 1.0rem);
    font-weight: 500;
    font-family: var(--font-1);
    cursor: pointer;
    position: relative;
    
}

.TmListButtonIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;        
  line-height: 0;     
  top: 50%;
  left: 100%;
  transform: translate(6px, -50%) scale(1); 
  pointer-events: none;
}

.TmListNonEmptyWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.TmListNonEmptyWrapper.TmListButtonNameWrapper{
    min-width: 100px;
} 

.TmListEmptyWrapper{
    width: 10%;
   
}

.TmListEmptyWrapper.TmListButtonShowWrapper{
    width: 5%;
}

.SaveTmSubpageDashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.SaveTmDashboardButton{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--color-text-dark);
    font-size: 120%;
    cursor: pointer;
    margin: 1vw;
}

.SaveTmDashboardButton.DisabledButton{
    color: var(--color-text-darkish);
}

.SaveTmDashboardSaveAsButton{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.saveTmDashboardIcon{
  width: 24px;
  height: 24px;
}

.TmDetails {
  max-height: 0;
  opacity: 0;
  transition: max-height 250ms ease, opacity 200ms ease;
  align-self: stretch;
  display: flex;
  overflow: hidden;      
  pointer-events: none;
  flex-direction: row;
  justify-content: center;
}

.TmDetails.TmDetailsVisible{
  max-height: 1400px;
  opacity: 1;
  box-sizing: border-box;
  margin-bottom: 30px;
  pointer-events: all;
  margin-top: 30px;
}

.TmDetailsSegment{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.TmDetailsSegment.TmDetailsTwoColumnSegment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.TmDetailsSegmentColumn{
    display: flex;
    flex-direction: column;
}
    
.TmDetailsSegmentFirstColumn{
    width: 60%;
}

.TmDetailsSegmentSecondColumn{
    display: flex;
    flex-direction: column;

    width: 40%;
}


.TmDetailsRow{
    display: flex;
    flex-direction: row;
    align-content: center;
    color: var(--color-text);
    height: 40px;
     margin-top: 10px;
}

.TmDetailsRow.TmDetailsTextAreaRow{
    height: auto;
    min-height: 40px;
}

.TmDetailsTextTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
    margin: 0px;
   
}

.TmDetailsTextValue{
    width: 40%;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: var(--border-radius-mild);
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.TmDetailsButton{
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius-mild);
    padding-left: 0px;
    
}

.TmDetailsButtonIcon{
    color: var(--color-text);
    padding-left: 0px;
}


.TmDetailsColumn1{
    width: 45%;
}

.TmDetailsColumn2{
    width: 50%;
}

.TmDetailsColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TmDetailsDescriptionTitle{
    justify-content: left;
}

.TmDetailsProgram{
  background-color: var(--tm-details-color-description-bg);
  color: var(--color-text);
  border-radius: var(--border-radius-mild);
  padding: 10px;
  font: var(--font-1);

  width: 100%;
  max-width: 100%;

  height: 100%;

 
  resize: none;      
  overflow-y: auto; 
  overflow-x: hidden; 

  margin: 4px 0;     
  height: calc(100% - 8px);
  
}

.TmDetailsProgram:focus{
    outline: 2px solid var(--color-accent);
}

.TmDetailsDescription {
  background-color: var(--tm-details-color-description-bg);
  color: var(--color-text);
  border-radius: var(--border-radius-mild);
  padding: 10px;

  width: 100%;
  max-width: 100%;

  height: 90px;

 
  resize: none;      
  overflow-y: auto; 
  overflow-x: hidden; 
  
}

.TmDetailsDescription:focus{
    outline: 2px solid var(--color-accent);
}



.TmDetailsText{
    margin-top: 8px;
    margin-bottom: 8px;
   font-family: var(--font-1);
   color: var(--color-text);
}

.TmDetailsSeparator{
    color: black;
    width: 80%;
      border-bottom: none;
    outline: none;
}

.editProfileTextField{
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.editProfileTextFieldTitle{
    font-family: var(--font-1);
    width: 8vw;
    text-align: left;
    margin: 0;
    padding-left: 2px;
    width: 40%;
}

.editProfileTextFieldValue{
    font-family: var(--font-1);
    width: 60%;
    margin: 0;
}

.editProfileButton{
    width: 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    height: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;

    font-family: var(--font-1);
    color: var(--color-text);
    border: 2px solid var(--color-accent);
    background-color: var(--color-extreme);
    border-radius: var(--border-radius-strong);
    

}

.editProfileButton.deleteAccountButton{
    background-color: var(--color-red);
    border: none;
}

.editProfileButton:hover{
    cursor: pointer;
}

.EditAccountSubpage{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 350px;
}

.editProfileRow{
    font-family: var(--font-1);
    color: var(--color-text);
    margin-bottom: 10px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: left;
    width: 100%;
  
}

.ListFooter{
     height: 30px;
     display: flex;
     position: relative;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     margin: 10px;
}

.LoadedMachinesCountWrapper{


        height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: var(--color-text);
   border-radius: var(--border-radius-strong);
   background-color: var(--color-extreme);
   border: 2px solid var(--color-medium);
   margin-left: 10px;
   
   width: fit-content;
   padding-left: 10px;
   padding-right: 10px;
   font-size: clamp(0.2rem, 1vw + 0.3rem, 1.0rem);
}


.PageControls{

    
    height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: var(--color-text);
   border-radius: var(--border-radius-strong);
   background-color: var(--color-extreme);
   border: 2px solid var(--color-medium);
   
   width: fit-content;
   padding-left: 10px;
   padding-right: 10px;

   position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(0.2rem, 1vw + 0.3rem, 1.0rem);
   
}

.PageControlsButton{
    background-color: transparent;
    color: var(--color-text);
    border: none;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageControlsButton:hover{
    cursor: pointer;
}

.PageControlsButton>svg{
    width: 20px;
    height: 20px;
}

.PageControlsButton>svg.DisabledIcon{
    color: transparent;

}

.PageControlsButton.Disabled{
    cursor: default;
}

.PageControlsPages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}


.PageButton{
    margin-left: 4px;
    margin-right: 4px;
    aspect-ratio: 1,1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    border-radius: 9999px;
}
.PageButton.active{
    border-bottom: 2px solid var(--color-accent);
}
.PageButton:hover{
    background-color: var(--color-medium);
    cursor: pointer;
}

.DataNotLoadedDiv{
    min-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--color-red);
}