.TapesPageWrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;            
  max-width: 100%;
}

.TapeViewportOuter {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.TapesPage{
  box-shadow: var(--box-shadow-dark);
  margin-top: 30px;
  width: 95%;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --tapes-color-bg: var(--color-strong);
  --tapes-color-cell: var(--color-medium);
  --tapes-color-cell-head: var(--color-extreme);
  --tapes-color-cell-border: var(--color-strong);
  --tapes-color-controls-button: var(--color-medium);
  --tapes-color-load-button: var(--color-accent);
  --tapes-text-field-color: var(--color-medium);
  --tapes-color-head-border: var(--color-accent);

  border-radius: var(--border-radius-extreme);

  background-color: var(--tapes-color-bg);
  font-family: var(--font-1);

  
}

.SimulationData{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--font-1);
  color: var(--color-text);
}

.SimulationDataParagraph{
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SimulationControls{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
}

.JumpToControls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 200px;
  min-width: 150px;
  width: 20%;
  
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: var(--color-medium);
  border-radius: var(--border-radius-strong);
}

.JumpToInput{
  color: var(--color-text);
  font: var(--font-1);
  width: 50%;
  max-width: 100px;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 15px;
}

.JumpToButton{
  background-color: var(--color-strong);
  border-radius: var(--border-radius-strong);
  max-width: 100px;
  width: 50%;
  margin: 2px;
   border: 3px solid var(--color-accent);
  color: var(--color-text);
  font-family: var(--font-1);
}

.JumpToButton:hover{
  cursor: pointer;
}

.JumpToButton.DisabledButton{
  /*background-color: var(--color-accent-transparent);*/
}

.JumpToButton.DisabledButton:hover{
  cursor: default;
}


.FlowControls{
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: max-content;
 margin-left: 10%;
 margin-right: 10%;
 border-radius: var(--border-radius-strong);
 background-color: var(--color-medium);
 margin-top: 10px;
 margin-bottom: 10px;
}

.FlowControls > .SimulationControlsButton + .SimulationControlsButton {
  border-left: 3px solid var(--color-strong);
}

.SimulationControlsButton{
  min-width: 50px;
  min-height: 50px;
  color: var(--color-text);
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.ToStartButton{
  border-top-left-radius: var(--border-radius-strong);
  border-bottom-left-radius: var(--border-radius-strong);
}

.ToEndButton{
  border-top-right-radius: var(--border-radius-strong);
  border-bottom-right-radius: var(--border-radius-strong);
}

.SimulationControlsButton.DisabledButton{
  background-color: var(--color-extreme);
  cursor: default;
}

.SimulationControlsButton:hover{
}

.SpeedControls{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  max-width: 200px;
  min-width: 150px;
  background-color: var(--color-medium);
  border-radius: var(--border-radius-strong);
}

.SpeedControls>p{
  margin: 0px;
  margin-bottom: 5px;
  font-family: var(--font-1);
  color: var(--color-text);
  text-align: center;
}

.SpeedControls>input{
  width: 85%;
}

.TapeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;         
  max-width: 100%;
}

.TapeViewport {
  overflow: hidden;
  background-color: var(--color-bg);

}

.TapeTrack {
  display: flex;
  align-items: stretch;
  will-change: transform;
}

.TapeCell {
    box-sizing: border-box;
  background-color: var(--tapes-color-cell);
  color: var(--color-text);
  border: solid 3px var(--tapes-color-cell-border);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-1);
  font-size: 22px;
  user-select: none;
  border-radius: var(--border-radius-weak);
}

.TapeCellHead{
  background-color:var(--tapes-color-cell-head);
  border: 3px solid var(--tapes-color-head-border); 
}

.TapeControls{
  display: flex;
  align-items: center;
  gap: 12px;
}

.TapeHeadIndex {
  font-family: monospace;
}

.SimulationControls{
  display: flex;
  justify-content: center;
  align-content: center;
}



.TapeActions{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  margin-left: 15%;
}

.TapeActionsButton{
      min-width: 25px;
  min-height: 25px;
  color: var(--color-text);
  background-color: var(--color-primary-2);
  margin: 1px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.TapeActionsButton.DisabledButton{
  /*background-color: var(--color-primary-1);*/
  cursor: default;
}

.TapeActionsButton:hover{
  background-color: var(--color-primary-1);
}



.InputContainer {
  /*overflow: hidden;*/ /*breaks tooltip when hidden*/
  max-height: 0;
  opacity: 0;
  transition: max-height 250ms ease, opacity 200ms ease;
  align-self: stretch;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  border: none;
  padding-left: 15px;
  min-width: 250px;
  margin-left: 8%;
  width: 15%;
  height: 35px;
  border-radius: var(--border-radius-strong);
  background-color: var(--color-medium);

}

.InputContainer.InputContainerVisible{
  max-height: 1000px;
  opacity: 1;
  margin-bottom: 15px;
}

.TapeInputField{
    font-family: var(--font-1);
    color: var(--color-text);
    background-color: transparent;
    outline: none;
    border: none;
    width: 75%;
    height: 100%;

}

.EnterInputButton{
  min-width: 0px;
  min-height: 0px;

  width: 25%;
  height: 85%;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  border-radius: var(--border-radius-strong);
  align-content: center;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
    
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-1);
  background-color: var(--color-strong);

  margin: 2px;
  border: 3px solid var(--color-accent);
}

.EnterInputButton.DisabledButton{
  /*background-color: var(--color-accent-muted);*/
  cursor: default;
}

.LoadSimulationContainer{
  margin-top: 30px;
  height: 50px;
  width: 15%;
  min-width: 150px;
  margin-bottom: 20px;
  padding: 5px;
}

.LoadSimulationButton{
  background-color: var(--color-extreme);

  cursor: pointer;
  border: 3px solid var(--color-accent);
  font-weight: 600;
  font-size: 105%;
  border-radius: var(--border-radius-strong);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  font-family: var(--font-1);
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

}

input[type="range"] {
  accent-color: var(--color-accent);
}

.LoadSimulationButton.DisabledButton{
  /*background-color: var(--color-accent-transparent);*/
  cursor: default;
}

.SimulationNameWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.SimulationName{
  font-family: var(--font-1);
  font-size: 200%;
    margin-top: 4px;
  margin-bottom: 4px;
  color: var(--color-text);
}