.home{
    background-color: var(--color-extreme);
    
    width: 100%;
    min-height: 100vh;
    padding-bottom: 40px;

    font-family: var(--font-1);
    color: var(--color-text);

    display: flex;
    flex-direction: column;
}

.home .SegmentOnlyColumn{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.home .linkButton{
    background-color: var(--color-accent);
    color: white;
    padding: 10px;
    border-radius: var(--border-radius-strong);
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    min-width: 80px;

}
.home .SecondColumnImage{
 width: 70%;
 min-width: 240px;
}

.home .SaveLoadShareIcon{
    color: var(--color-text);
}

.home h1{
    font-family: var(--font-1);
    margin-top: 20;
    margin-bottom: 20;
    font-size: clamp(2rem, 5vw + 1rem, 5rem);
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 6px;
}

.home .HomeSegment{
    display: flex;
    flex-direction: row;
    
    margin-top: 8vh;
    margin-bottom: 4vh;
}



.home .SegmentTitle{
    text-align: center;
    font-family: var(--font-1);
    font-size: clamp(1rem, 5vw + 0.4rem, 2.5rem);
    margin: 0;
}

.home .SegmentDescription{
    font-size: 1.2rem;
}

.home .SegmentSecondColumn{
    margin-top: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 5%;

}

.home .SegmentFirstColumn{
        padding-top: 0;
    width: 35%;
    margin-left: 10%;
    margin-right: 5%;
}

@media (max-width: 800px){
    .home .HomeSegment{
        flex-direction: column;
    }

    .home .SegmentFirstColumn{
        width: 80%;
    }
}