.ModalRoot{
position: fixed;
 inset: 0;
  z-index: 1000;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.ModalOverlay{
  position: absolute; 
  inset: 0;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(6px); 
}

.ModalWindow{
  position: relative; 
  z-index: 1001;
  width: 90vw;
  max-width: 640px;
  background: white; 
  color: #111;
  border-radius: 10px; 
  padding: 20px;
  padding-bottom: 30px;
  box-shadow: 0 15px 60px rgba(0,0,0,.4);
}

.DeleteTmModalTextWrapper{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.DeleteTmModalTextWrapper p{
    font-size: 120%;
}

.DeleteTmModalButtonsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4vh;
}

.DeleteTmModalDeleteButton{
    background-color: rgb(154, 60, 60);
     color: white;
    margin-right: 20px;
}

.DeleteTmModalCancelButton{

}

.ModalButton{
    outline: none;
    border: none;
    border-radius: 5px;
    width: 15%;
    cursor: pointer;
}

