
.sidebar-wrap{
  
  
  --sidebar-color: var(--color-strong);
  --sidebar-element-hover-color: var(--color-medium);

   position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
}

.sidebar {
  width: var(--sidebar-width);
   height: 100%; 
  background: var( --sidebar-color);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;  
}

.sidebar li {
  margin-top: 20px;
  width: 100%;
}

.SidebarLink {
  color: var(--color-text);
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.disabledLinkButton .SidebarLinkTitle{
  color: var(--color-text-muted);
}

.SidebarLinkTitle{
  margin: 0px;
  font-family: var(--font-1);
  font-size:75%;
}

.SidebarButton{
  color: var(--color-text);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

li.SidebarElement.StyleModeToggle{
  margin-top: auto;
}


.sidebar .disabledLinkButton a{
  pointer-events: none;
  cursor: default;
}

.sidebar .disabledLinkButton svg{
  stroke: var(--color-text-muted);
}

.sidebar a:hover {
  background: var(--sidebar-element-hover-color);
}

.sidebar button:hover {
  background: var(--sidebar-element-hover-color);
}

.sidebar li.HiglistedLink {
  border-bottom: solid 5px var(--color-accent);
}
.icon{
  width: 50px;
  height: 50px;
}

@media (max-width: 768px){
  .sidebar-wrap{
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;

    width: 100%;
    height: var(--sidebar-height-mobile);
    z-index: 1000; 
   
  }

  .sidebar{
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid var(--color-extreme);
  }

  .sidebar ul{
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .sidebar li{
    margin-top: 0;
    height: 100%;
    /*flex: 1;*/
    width: 50px;               
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
  }

  .SidebarLink,
  .SidebarButton{
    width: 100%;
    height: 100%;
    padding: 0;
  }

    li.SidebarElement.StyleModeToggle{
    margin-top: 0;
        width: 25px;
    height: 25px;
  }

  li.SidebarElement.StyleModeToggle .icon{
    margin-top: 0;
        width: 14px;
    height: 28px;
  }

  .icon{
    width: 28px;
    height: 28px;
  }
  .SidebarLinkTitle{
    font-size: 8px;
  }
}