.AccountPageWrapper{
    display: flex;
    flex-direction: column;
}

.AccountPageDashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
        height: 100px;
    width: 100%;
}

.AccountDashboardButton{
  color: var(--color-text-dark);
  font: ui-monospace;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 5px;

    height: 50%;
    width: 9%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;          
  line-height: 1;    
  margin-left: 3%;
  margin-right: 3%;
  font-size: 120%;
  
}
.AccountDashboardButton.SelectedDashboardButton{
background-color: var(--color-primary-0);
}

.AccountDashboardButton svg{
  width:20px;        
  height:20px;   
}

.AccountDashboardButton.LogoutButton{
    background-color: var(--color-primary-3);
    width: 3%;
}

.SaveTuringMachineForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AccountInputFieldLabel{
    width: 100%;
}

.AccountPageSaveFormButton{
    width: 5%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    min-width: 60px;
    min-height: 40px;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    color: var(--color-text-dark);
    background-color: var(--color-primary-1);
}

.AccountPageSaveFormButton.DisabledButton{
    cursor: default;
    color: var(--color-primary-2);
    background-color: var(--color-primary-0)
}

.AccountPageSaveFormButton svg{
 width:20px;        
  height:20px;   
}

.AccountInputField{
    width: 15%;
    resize: none;
}
