.AccountPageWrapper{
    margin-top: 50px;
    
    --account-color-bg: var(--color-extreme);
    --account-color-subpage: var(--color-strong);
    --account-db-button-color: var(--color-strong);
    --account-db-button-border: solid 2px  var(--color-accent);
    --account-color-border: var(--color-weak);


    --tm-list-color-bg: var(--color-strong);


    --tm-details-color-text-field: var(--color-medium);
    --tm-details-color-description-bg : var(--color-extreme);

    font-family: var(--font-1);

}

.AccountPage{
    background-color: var(--account-color-page);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AccountPageSubpage{
    background-color: var(--account-color-subpage);
    border-radius: var(--border-radius-extreme);
}

.AccountPageDashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.AccountDashboardButton{
    
  color: var(--color-text);

  font: ui-monospace;
  background-color: transparent;
  cursor: pointer;
  
  border-radius: var(--border-radius-strong);

    height: 50%;
    width: 9%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;          
  line-height: 1;    
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid var(--account-color-border);
  border-bottom: 3px solid var(--account-color-border);
  background-color: var(--account-db-button-color);
  font-size: 120%;
  
}

.AccountDashboardButton.SelectedDashboardButton{
    font-weight: 600;
    border: var(--account-db-button-border);
    border-bottom: 3px solid var(--color-accent);
}

.AccountDashboardButton svg{
  width:20px;        
  height:20px;   
}

.AccountDashboardButton.LogoutButton{
    border: none;
    background-color: var(--color-red);
    color: white;
    width: 3%;
}

.SaveTuringMachineSubpage{
    width: 100%;
}

.SaveTuringMachineForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AccountInputFieldLabel{
    width: 100%;
}

.AccountPageSaveFormButton{
    width: 8%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    min-width: 60px;
    min-height: 40px;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    color: var(--color-text-dark);
    background-color: var(--color-primary-1);
    
}

.AccountPageSaveFormButton.DisabledButton{
    cursor: default;
    color: var(--color-primary-2);
    background-color: var(--color-primary-0)
}

.AccountPageSaveFormButton svg{
 width:20px;        
  height:20px;   
}

.AccountInputField{
    width: 15%;
    resize: none;
}

.LoadTuringMachineSubpage{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.TmList{
    background-color: var(--tm-list-color-bg);
}

.TuringMachineRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    font-family: var(--font-1);
    color: var(--color-text);
   
}

.TmRowButton{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.TmRowIcon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.TmRowButton:hover{
    cursor: pointer;
}

.TmRowButton.TmRowLoadButton{
    background-color: transparent;
    color:  var(--color-text-dark);
    font-weight: bold;
}

.TmRowButton.TmRowLoadButton:hover{
    background-color: var(--color-primary-0);
}

.TmRowButton.TmRowShowButton{
    background-color: transparent;
    color: var(--color-text-dark);
}

.TmRowButton.TmRowDeleteButton{
    background-color: rgb(154, 60, 60);
    color: white;
}

.TmRowButtonWrapper.TmRowDeleteWrapper{
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TmRowButtonWrapper.TmRowShowWrapper{
    width: 5%;
    height: 10%;
}

.TmRowTextWrapper{
    width: 25%;
    height: 100%;
}

.TmListDashboard{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
     border-bottom: 2px solid var(--account-color-border);
     
}

.TmListButton{
    color: var(--color-text);
    background-color: transparent;
    border: none;
    font-size: 115%;
    font-weight: 500;
    font-family: var(--font-1);
    cursor: pointer;
    position: relative;
    
}

.TmListButtonIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;        
  line-height: 0;     
  top: 50%;
  left: 100%;
  transform: translate(6px, -50%) scale(1); 
  pointer-events: none;
}

.TmListNonEmptyWrapper{
    width: 25%;
}

.TmListEmptyWrapper{
    width: 10%;
}

.TmListEmptyWrapper.TmListButtonShowWrapper{
    width: 5%;
}

.SaveTmSubpageDashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.SaveTmDashboardButton{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--color-text-dark);
    font-size: 120%;
    cursor: pointer;
    margin: 1vw;
}

.SaveTmDashboardButton.DisabledButton{
    color: var(--color-text-darkish);
}

.SaveTmDashboardSaveAsButton{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.saveTmDashboardIcon{
  width: 24px;
  height: 24px;
}

.TmDetails {
  max-height: 0;
  opacity: 0;
  transition: max-height 250ms ease, opacity 200ms ease;
  align-self: stretch;
  display: flex;
  overflow: hidden;      
  pointer-events: none;
  flex-direction: row;
  justify-content: center;
}

.TmDetails.TmDetailsVisible{
  max-height: 1400px;
  opacity: 1;
  box-sizing: border-box;
  margin-bottom: 30px;
  pointer-events: all;
  margin-top: 30px;
}

.TmDetailsSegment{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.TmDetailsSegment.TmDetailsTwoColumnSegment{
    display: flex;
    flex-direction: row;
}

.TmDetailsSegmentColumn{
    display: flex;
    flex-direction: column;
}
    
.TmDetailsSegmentFirstColumn{
    width: 60%;
}

.TmDetailsSegmentSecondColumn{
    display: flex;
    flex-direction: column;

    width: 40%;
}


.TmDetailsRow{
    display: flex;
    flex-direction: row;
    align-content: center;
    color: var(--color-text);
    height: 40px;
}

.TmDetailsRow.TmDetailsTextAreaRow{
    height: auto;
    min-height: 40px;
}

.TmDetailsTextTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
    margin: 0px;
}

.TmDetailsTextValue{
    width: 40%;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: var(--border-radius-mild);
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.TmDetailsButton{
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius-mild);
    padding-left: 0px;
    
}

.TmDetailsButtonIcon{
    color: var(--color-text);
    padding-left: 0px;
}


.TmDetailsColumn1{
    width: 45%;
}

.TmDetailsColumn2{
    width: 50%;
}

.TmDetailsColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TmDetailsDescriptionTitle{
    justify-content: left;
}

.TmDetailsProgram{
  background-color: var(--tm-details-color-description-bg);
  color: var(--color-text);
  border-radius: var(--border-radius-mild);
  padding: 10px;
  font: var(--font-1);

  width: 100%;
  max-width: 100%;

  height: 100%;

 
  resize: none;      
  overflow-y: auto; 
  overflow-x: hidden; 

  margin: 4px 0;     
  height: calc(100% - 8px);
  
}

.TmDetailsProgram:focus{
    outline: 2px solid var(--color-accent);
}

.TmDetailsDescription {
  background-color: var(--tm-details-color-description-bg);
  color: var(--color-text);
  border-radius: var(--border-radius-mild);
  padding: 10px;

  width: 100%;
  max-width: 100%;

  height: 90px;

 
  resize: none;      
  overflow-y: auto; 
  overflow-x: hidden; 
  
}

.TmDetailsDescription:focus{
    outline: 2px solid var(--color-accent);
}



.TmDetailsText{
    margin-top: 8px;
    margin-bottom: 8px;
   font-family: var(--font-1);
   color: var(--color-text);
}

.TmDetailsSeparator{
    color: black;
    width: 80%;
      border-bottom: none;
    outline: none;
}

.editProfileTextField{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.editProfileTextFieldTitle{
    font-family: var(--font-secondary);
    width: 8vw;
    text-align: left;
    margin: 0;
    padding-left: 2px;
    
}

.editProfileTextFieldValue{
    font-family: var(--font-secondary);
    margin: 0;
}

.editProfileButton{
    width: 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    min-width: 60px;
    min-height: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: var(--color-text-dark);
    background-color: var(--color-primary-0);
    font-weight: bold;

}

.editProfileButton:hover{
    cursor: pointer;
}

.editProfileRow{
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-items: left;
}