.AccountPageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AccountPageDashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
        height: 100px;
    width: 100%;
}

.AccountDashboardButton{
  color: var(--color-text-dark);
  font: ui-monospace;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 5px;

    height: 50%;
    width: 9%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;          
  line-height: 1;    
  margin-left: 3%;
  margin-right: 3%;
  font-size: 120%;
  
}
.AccountDashboardButton.SelectedDashboardButton{
    /*background-color: var(--color-primary-0);*/
   
    font-weight: 600;
}

.AccountDashboardButton svg{
  width:20px;        
  height:20px;   
}

.AccountDashboardButton.LogoutButton{
    background-color: rgb(187, 77, 77);
    color: white;
    width: 3%;
}

.SaveTuringMachineSubpage{
    width: 100%;
}

.SaveTuringMachineForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AccountInputFieldLabel{
    width: 100%;
}

.AccountPageSaveFormButton{
    width: 8%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    min-width: 60px;
    min-height: 40px;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    color: var(--color-text-dark);
    background-color: var(--color-primary-1);
}

.AccountPageSaveFormButton.DisabledButton{
    cursor: default;
    color: var(--color-primary-2);
    background-color: var(--color-primary-0)
}

.AccountPageSaveFormButton svg{
 width:20px;        
  height:20px;   
}

.AccountInputField{
    width: 15%;
    resize: none;
}

.LoadTuringMachineSubpage{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.TmList{
    background-color: white;
}

.TuringMachineRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 105%;
}

.TmRowButton{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.TmRowButton:hover{
    cursor: pointer;
}

.TmRowButton.TmRowLoadButton{
    background-color: transparent;
    color:  var(--color-text-dark);
    font-weight: bold;
}

.TmRowButton.TmRowLoadButton:hover{
    background-color: var(--color-primary-0);
}

.TmRowButton.TmRowShowButton{
    background-color: transparent;
    color: var(--color-text-dark);
}

.TmRowButton.TmRowDeleteButton{
    background-color: rgb(154, 60, 60);
    color: white;
    
}

.TmRowButtonWrapper{
    width: 10%;
    height: 10%;
}

.TmRowButtonWrapper.TmRowShowWrapper{
    width: 5%;
    height: 10%;
}

.TmRowTextWrapper{
    width: 25%;
    height: 100%;
}

.TmListDashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.TmListButton{
        background-color: transparent;
    border: none;
    font-size: 115%;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    position: relative;
    height: 100px;
}

.TmListButtonIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;        
  line-height: 0;     
  top: 50%;
  left: 100%;
  transform: translate(6px, -50%) scale(1); 
  pointer-events: none;
}

.TmListNonEmptyWrapper{
    width: 25%;
}

.TmListEmptyWrapper{
    width: 10%;
}

.TmListEmptyWrapper.TmListButtonShowWrapper{
    width: 5%;
}

.SaveTmSubpageDashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.SaveTmDashboardButton{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--color-text-dark);
    font-size: 120%;
    cursor: pointer;
    margin: 1vw;
}

.SaveTmDashboardButton.DisabledButton{
    color: var(--color-text-darkish);
}

.SaveTmDashboardSaveAsButton{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.saveTmDashboardIcon{

  width: 24px;
  height: 24px;
 
}

.TmDetails {
  max-height: 0;
  opacity: 0;
  transition: max-height 250ms ease, opacity 200ms ease;
  align-self: stretch;
  display: flex;
  overflow: hidden;      
  pointer-events: none;
  flex-direction: row;
  justify-content: center;
}

.TmDetails.TmDetailsVisible{
  max-height: 1000px;
  opacity: 1;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 30px;
}

.TmDetailsColumn1{
    width: 35%;
}

.TmDetailsColumn2{
    width: 50%;
}

.TmDetailsColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TmDetailsDescription {
   resize: none;    
  overflow: auto;
}

.TmDetailsText{
    margin-top: 8px;
    margin-bottom: 8px;
   font-family: var(--font-secondary);
}

.TmDetailsSeparator{
    color: black;
    width: 80%;
      border-bottom: none;
    outline: none;
}

.editProfileTextField{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.editProfileTextFieldTitle{
    font-family: var(--font-secondary);
    width: 8vw;
    text-align: left;
    margin: 0;
    padding-left: 2px;
    
}

.editProfileTextFieldValue{
    font-family: var(--font-secondary);
    margin: 0;
}

.editProfileButton{
    width: 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    min-width: 60px;
    min-height: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: var(--color-text-dark);
    background-color: var(--color-primary-0);
    font-weight: bold;

}

.editProfileButton:hover{
    cursor: pointer;
}

.editProfileRow{
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-items: left;
}