
/*login window*/

.LoginPageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}


.login-page{
    --login-page-color: var(--color-strong);
    --login-input-color: var(--color-medium);
    --login-checkbox-border-color: var(--color-extreme);

    font-family: var(--font-1);

    display: flex;
    margin-top: 4%;
    height: 70vh;

    align-self: center;
    flex-direction: column;
    align-items: center;

    min-width: 450px;

    padding-top: 7vh;
    font-family: var(--font-1);

    box-shadow: var(--box-shadow-dark);

    border-radius: var(--border-radius-extreme);
    background-color: var(--login-page-color);
    color: var(--color-text)
    
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form-row{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 250px;
    width: 75%;
}

/*header*/
.login-header{
    font-size: 250%;
}

/*text fields*/
.login-text-field{
    min-height: 30px;
    height: 5vh;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:9999px;
    border:none;
    background-color: var(--login-input-color);
    color: var(--color-text);    
    box-sizing: border-box;
    padding-left: 1em;    
}

.login-text-field:focus {
  outline: solid 2px var(--color-primary-3);
}

.login-text-field::placeholder{
    color: var(--color-text);
}

.login-password-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--login-input-color);
    height: 5vh;
    width: 100%;
    border-radius:9999px;
    width: 100%;
}

.login-password-wrapper .login-text-field{
  
    background-color: transparent;
    width: 80%;
}

.login-password-wrapper .toggle-password{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*password*/
/*
.login-password-wrapper{
    position: relative;
    width: 20vw;  
}

.login-password-wrapper .login-text-field{
  width: 100%;
  padding-right: 2.5em; 
}*/

.password-icon{
  width: 25px;
  height: 25px;
  cursor: pointer;

}


/* remember and forgot div*/
.login-checkbox{
    width: 15px;
  height: 15px;
  border-radius: 50%;       
  appearance: none;           
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 2px solid var(--login-checkbox-border-color);
  outline: none;
  cursor: pointer;
  position: relative;

    top: 50%;
  transform: translateY(35%);
}

.login-checkbox:checked{
    background-color: var(--color-accent);   
}

.remember-me-link{
    color: var(--color-text);
}

.login-remember-forgot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*login button*/
.login-button{
    height: 5vh;
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 1vh;
    border-radius:9999px;
    border: none;
    background-color: var(--color-accent);
    font-size: 110%;
    color: var(--color-button-text);
    transition: 0.3s ease;
}

.login-button.DisabledButton{
        background-color: var(--color-accent-hover);
    cursor: default;
}

.login-button.DisabledButton:hover{
    background-color: var(--color-accent-hover);
    cursor: default;
}

.login-button:hover{
    background-color: var(--color-accent-hover);
    cursor: pointer;
}

/*sign up link*/
.login-signup{
    margin-top: 1vh;
}

.login-signup-link{
    color: var(--color-text);   
}

.ErrorMesssageWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}