
/*login window*/
.login-window{
    display: flex;
    
    width: 30vw;
    height: 70vh;
    align-self: center;
    flex-direction: column;
    align-items: center;
    


    padding-top: 7vh;
    font-family: var(--font-main);

        box-shadow: 3px 3px 7px 7px rgba(0, 0, 0, 0.316);
    border-radius: 50px;
    background-color: var(--color-bg-2);
}

/*header*/
.login-header{
    font-family: var(--font-main);
    font-size: 250%;
}

/*text fields*/
.login-text-field{
    height: 5vh;
    width: 20vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius:9999px;
    border:none;
    background-color: var(--color-primary-2);
    color: var(--color-text-light);    
    box-sizing: border-box;
    padding-left: 1em;
    font-family: var(--font-main);
    
}

.login-text-field:focus {
  outline: solid 2px var(--color-primary-3);
}

.login-text-field::placeholder{
    color: white;
}

/*password*/
.login-password-wrapper{
    position: relative;
    width: 20vw;  
}

.login-password-wrapper .login-text-field{
  width: 100%;
  padding-right: 2.5em; 
}

.password-icon{
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  right: 0.7em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


/* remember and forgot div*/
.login-checkbox{
    width: 15px;
  height: 15px;
  border-radius: 50%;       
  appearance: none;           
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 2px solid var(--color-primary-2);
  outline: none;
  cursor: pointer;
  position: relative;

    top: 50%;
  transform: translateY(35%);
}

.login-checkbox:checked{
    background-color: var(--color-primary-2);   
}

.remember-me-link{
    color: var(--color-primary-2);
}

.login-remember-forgot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw; 
  margin: 1vh auto; 
}

/*login button*/
.login-button{
    height: 5vh;
    width: 20vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
    border-radius:9999px;
    border: none;
    background-color: var(--color-primary-2);
    color: var(--color-text-light);
    font-family: var(--font-main);

    transition: 0.3s ease;
}

.login-button.DisabledButton{
        background-color: var(--color-primary-1);
    cursor: default;
}

.login-button.DisabledButton:hover{
            background-color: var(--color-primary-1);
    cursor: default;
}

.login-button.SignUpButton{
    width: 10vw;
}

.login-button.SignUpButton.DisabledButton{
    background-color: var(--color-primary-1);
    cursor: default;
}

.login-button:hover{
    background-color: var(--color-primary-4);
    cursor: pointer;
}

/*sign up link*/
.login-signup{
    margin-top: 1vh;
}

.login-signup-link{
    color: var(--color-primary-2);   
}


