.SearchPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SearchPageHeadline{
    font-family: var(--font-secondary);
}

.SearchBarWrapper{
    display: flex;
    flex-direction: row;
    width: 30%;
    min-width: 250px;
    height: 40px;
}

.SearchBar{
    font-family: var(--font-secondary);
    width: 75%;
    height: 100%;
    padding: 0;
    padding-left: 10px;
}

.SearchButton{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: var(--color-text-dark);
    background-color: var(--color-primary-1);
    font-weight: bold;
}

.SearchButton.DisabledSearchButton{
            cursor: default;
    color: var(--color-primary-1);
    background-color: var(--color-primary-0)
}

.searchError{
    font-family: var(--font-secondary);
    font-size: 110%;
    color: rgb(170, 29, 29);
}