.settings-segment{
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
}

.settings-segment-text{
    padding-top: 0;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.settings-segment-text-title{
    font-family: var( --font-main);
    font-size: 2.5rem;
    margin: 0;
}

.settings-segment-text-description{
    font-size: 1.2rem;
    font-family: var( --font-main);
}

.simulation-aliases{
    flex: 1;
    margin-top: 5vh;
    
    display: flex;
    flex-direction: column;
}

.settings-text-field-row{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-text-field-label{
    width: 14vw;
    font-family: var( --font-main);
}

.settings-text-field{
    flex: 1;
    border: none;
}

.settings-text-field:focus-within{
    outline: none;  
}

.save-simulation-aliases{
    margin-top: 2vh;
    width:5vw;
    height: 3vw;
    margin-left: 60%;
    border: none;
    font-family: var( --font-main);
    background-color: var( --color-primary-3);
    color: var(--color-text-light);
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 9999999px;
}

.save-simulation-aliases:hover{
    background-color: var( --color-primary-1);
}

.line-separator{
    color: black;
    width: 80%;
}