.SettingsPage{
    --page-color: var(--color-extreme);
    --text-input-color: var(--color-strong);
    --disabled-button-color: var(--color-strong);

    background-color: var(--page-color);
    border-radius: var(--border-radius-strong);
    color: var(--color-text);
}

.SettingsSegment{
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    margin-bottom: 4vh;
}

.SegmentFirstColumn{
    padding-top: 0;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

.SegmentTitle{
    font-family: var(--font-1);
    font-size: 2.5rem;
    margin: 0;
}

.SegmentDescription{
    font-size: 1.2rem;
    font-family: var(--font-1);
}

.SegmentSecondColumn{
    flex: 1;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.SettingsTextFieldRow{
    
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SettingsTextFieldLabel{
    width: 14vw;
    font-family: var(--font-1);
}

.SettingsTextField{
    font-family: var(--font-1);
    color: var(--color-text);
    background-color: var(--text-input-color);
    
    border: none;
    width: 20%;
    padding-left: 15px;
    min-width: 50px;
    border-radius: var(--border-radius-strong);
}

.SettingsTextField:focus-within{
    outline: 1px solid var(--color-accent);  
}

.SaveSettings{
    margin-top: 2vh;
    width: 5vw;
    height: 3vw;
   
    border: none;
    font-family: var(--font-1);
    background-color: var(--color-accent);
    color: var(--color-button-text);
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 9999999px;
}

.SaveSettingsDiv{
     margin-left: 50%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin-bottom: 40px;
}

.SettingsSaveError{

}

.SaveSettings:hover{
    background-color: var(--color-accent-hover);
}

.SaveSettings.DisabledButton{
    background-color: var(--color-accent-hover);
    cursor: default;
}

.LineSeparator{
    color: black;
    width: 80%;
}
