.ReactFlowWrapper{
  width: 100%;
  height: 100%;
}

.react-flow__node-simNode .SimulationNode {
  position: relative;    
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.react-flow__handle.simNodeHandle {
  background: transparent;
  border: none;
  pointer-events: none;  
}

.react-flow__node-simNode {
  border-radius: 50%;
  background-color: var(--color-strong);
  color: var(--color-text);
  border: solid 4px var(--color-medium);
  width: 60px;
  height: 60px;
}

.react-flow__node-simNode.SelectedNode {
  border-color: var(--color-accent);
}

.SimulationNodeDetails{
 top: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: max-content;   
  min-width: 160px;    
  max-width: 320px;     
  padding: 4px 8px;

  border: solid 1px var(--color-accent);
  border-radius: var(--border-radius-mild);
  background-color: var(--color-strong);

  font-family: var(--font-1);
  color: var(--color-text);
  font-size: 50%;
  box-shadow: 0 2px 4px #0005;

}


.react-flow__edge.SimulationEdge path.react-flow__edge-path {
  stroke-width: 3px;
  stroke: var(--color-medium);
}

.react-flow__edge.SimulationEdge.SelectedEdge path.react-flow__edge-path {
  stroke-width: 4px;
  stroke: var(--color-accent);
}

.react-flow__node-simNode.NodeAccept .SimulationNode {
  /*background-color: green; */
}

.react-flow__node-simNode.NodeReject .SimulationNode {
 /* background-color: red;*/
}

.react-flow__node-simNode.NodeHalt .SimulationNode {
  /*background-color: blue;*/
}

.react-flow__node-simNode.NodeLoop .SimulationNode {
 /* background-color: orange;*/
}

.SimulationNodeDetailsRow {
  margin: 2px 0;
  white-space: nowrap;    
}