.react-flow__node-simNode {
  border-radius: 50%;
  background-color: var(--color-primary-1);
  color: brown;
  border: solid black 3px;         
  width: 40px;   
  height: 40px; 
}

.react-flow__handle.simNodeHandle{
    background: transparent;
    border: none;
}

.react-flow__node-simNode .SimulationNode {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SimulationNodeDetails{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border: solid 1px black;
    background-color: var(--color-primary-0);
    font-family: var( --font-secondary);
    font-size: 60%;
    justify-content: center;
    align-items: center;
}


.SimulationEdge.SelectedEdge{
  --xy-edge-stroke-default: green;
}

.SelectedNode .SimulationNode{
  background-color: green;
}