.About{
    font-family: var(--font-1);
    color: var(--color-text);
        display: flex;
    flex-direction: column;
}

.About p{
        font-family: var(--font-1);
    color: var(--color-text);
}


.About .AboutSegment{
    display: flex;
    flex-direction: row;
    
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.About .SegmentTitle{
    text-align: center;
    font-family: var(--font-1);
    font-size: clamp(1rem, 5vw + 0.4rem, 2.5rem);
    margin: 0;
    margin-bottom: 2vh;
}

.About .SegmentDescription{
    font-size: 1.0rem;
}

.About .SegmentSecondColumn{
    margin-top: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 5%;

}

.About .SegmentFirstColumn{
        padding-top: 0;
    width: 55%;
    margin-left: 10%;
    margin-right: 5%;
}

.About .Subsegment{
  display: flex;
  flex-direction: row;
  align-items: center;   /* KLUCZ: pionowe centrowanie ikon + tekstu */
}

.About .SubsegmentIcon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.About .SubsegmentIcon a{
  display: inline-flex;  
  align-items: center;
  justify-content: center;
}

.About .Subsegment svg{
  display: block;       
  fill: var(--color-text);
}

.AboutSegment .SubsegmentText{
    font-size: 1.2rem;
    margin-left: 30px;
    text-align: center;
}

.About .Subsegment svg{
    fill: var(--color-text);
}

.About a{
    color: var(--color-accent);
}

.About .SegmentFirstColumnRow{
    display: flex;
    flex-direction: row;
}

.About .RowIconDiv{
    width: 20%;
    min-width: 75px;
}

.About .RowTextDiv{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.About .RowTextDiv h2{
    text-align: center;
}
