:root {
  --color-white: #ffffff;
  --color-bg: #ffffff;
  --color-bg-2: #dedede;
  --color-text-dark: #111;
  --color-text-darkish: #555555;
  --color-text-light: #e9e9e9;
  --color-primary-0: #dadada;
  --color-primary-1: #b5b5b5;
  --color-primary-2: #7c7c7c;
  --color-primary-3: #606060;
  --color-primary-4: #373737;
  --color-debug-1: red;
  --color-debug-2: rgb(13, 255, 0);

  --font-main: "Gill Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-secondary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-body{
    margin: 0;
    padding: 0;
    border: 0;
}

.main-layout{
    display: flex;
}

.outlet-wrap{
    flex: 1;
}

.tooltip { position: relative; }
.tooltip:hover::after, .tooltip:focus::after {
  content: attr(data-tooltip);
  position: absolute; 
  left: 50%; 
  bottom: -60%;
  transform: translate(-50%, 3px);
  background: #111; 
  color: #fff; 
  padding: 4px 6px; 
  border-radius: 4px;
  white-space: nowrap; 
  font-size: 12px; 
  z-index: 10;
}

.tooltip.extraTooltipPadding:hover::after, .tooltip.extraTooltipPadding:focus::after{
  transform: translate(-50%, 8px);
}

.tooltip.lessTooltipPadding:hover::after, .tooltip.extraTooltipPadding:focus::after{
  transform: translate(-50%, -8px);
}

.monaco-editor{
    --vscode-focusBorder: var(--color-text-dark) !important;
}