.simulation-interface{

}

.simulation-data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: var(--font-main);
}

.tape-wrapper {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

/* Okno widoku – stała szerokość, ukrywa przepełnienie */
.tape-viewport {
  overflow: hidden;
  background-color: var(--color-bg);
 /* box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset;*/
}

/* Pasek z komórkami, który przesuwamy translateX */
.tape-track {
  display: flex;
  align-items: stretch;
  will-change: transform;
}

.tape-cell {
    box-sizing: border-box;
  background-color: var(--color-primary-1);
  color: var(--color-text-light);
  border: solid 3px var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 22px;
  user-select: none;
}

.tape-cell-head {

  background-color:var(--color-primary-2) ; 
}

.tape-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tape-head-index {
  font-family: monospace;
}


.simulation-controls{
  display: flex;
  justify-content: center;
  align-content: center;
}

.simulation-controls-button{
  min-width: 50px;
  min-height: 50px;
  color: white;
  background-color: var(--color-primary-2);
  margin: 1px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.simulation-controls-button:hover{
   background-color: var(--color-primary-1);
}