.SimulationData{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--font-main);
}

.SimulationDataParagraph{
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SimulationControls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.JumpToControls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%
}

.FlowControls{
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.SpeedControls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%
}

.TapeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Okno widoku – stała szerokość, ukrywa przepełnienie */
.TapeViewport {
  overflow: hidden;
  background-color: var(--color-bg);
 /* box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset;*/
}


.TapeTrack {
  display: flex;
  align-items: stretch;
  will-change: transform;
}

.TapeCell {
    box-sizing: border-box;
  background-color: var(--color-primary-1);
  color: var(--color-text-light);
  border: solid 3px var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 22px;
  user-select: none;
}

.TapeCellHead{
  background-color:var(--color-primary-2) ; 
}

.TapeControls{
  display: flex;
  align-items: center;
  gap: 12px;
}

.TapeHeadIndex {
  font-family: monospace;
}

.SimulationControls{
  display: flex;
  justify-content: center;
  align-content: center;
}

.SimulationControlsButton{
  min-width: 50px;
  min-height: 50px;
  color: white;
  background-color: var(--color-primary-2);
  margin: 1px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.SimulationControlsButton.DisabledButton{
  background-color: var(--color-primary-1);
  cursor: default;
}

.SimulationControlsButton:hover{
   background-color: var(--color-primary-1);
}

.TapeActions{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.TapeActionsButton{
      min-width: 25px;
  min-height: 25px;
  color: white;
  background-color: var(--color-primary-2);
  margin: 1px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.TapeActionsButton.DisabledButton{
    background-color: var(--color-primary-1);
  cursor: default;
}

.TapeActionsButton:hover{
  background-color: var(--color-primary-1);
}



.InputContainer {
  /*overflow: hidden;*/ /*breaks tooltip when hidden*/
  max-height: 0;
  opacity: 0;
  transition: max-height 250ms ease, opacity 200ms ease;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.InputContainer.InputContainerVisible{
  max-height: 1000px;
  opacity: 1;
  box-sizing: border-box;
}

.SimulationControlsButton:hover{
   background-color: var(--color-primary-1);
}

.SimulationControlsButton.EnterInputButton{
  min-width: 25px;
  min-height: 25px;
}

.LoadSimulationButton{
  background-color: var(--color-primary-2);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  width: 15%;
  min-height: 50px;
}

.LoadSimulationButton.DisabledButton{
  background-color: var(--color-primary-1);
  cursor: default;
}

.SimulationNameWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.SimulationName{
  font-family: var(--font-secondary);
  font-size: 200%;
    margin-top: 4px;
  margin-bottom: 4px;
}